* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Hind Siliguri", serif;
}

.container {
    width: 62%;
    min-width: 1185px;
    margin: 0 auto;
}
nav {
    width: 100%;
    height: 132px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul {
    display: flex;
    gap: 50px;

}
.n-1 {
    display: flex;
    align-items: center;
    gap: 10px;
}
.n-1 span {
    width: 27px;
    height: 22px;
    text-align: center;
    border-radius: 20px;
    padding-left: 2px;
    background: #FF7235;
    color: white;
    padding-bottom: 2px;
}
.n-11{
    display: flex;
    gap: 10px;
    height: 43px;
    align-items: center;
}
.n-11 span {
    width: 29px;
    height: 20px;
    text-align: center;
    border-radius: 20px;
    padding-left: 2px;
    background: #FF7235;
    color: white;
    padding-bottom: 13px;
}
.n-11 p {
    font-weight: 500;
    font-size: 23px;
}
.n-3 button{
    width: 154px;
    height: 44px;
    border-radius: 13px;
    border: 1px solid #FF7235;
    background-color: white;
    cursor: pointer;
}.n-3 button a {
    color: #FF7235;
}
.header-page {
    display: flex;
    align-items: center;
    height: 90vh;
}

.head-1 h1 {
    width: 540px;
    font-weight: 700;
    font-size: 96px;
    line-height: 96px;
}
.head-1 p {
    width: 540px;
    height: 85px;
    font-weight: 400;
    font-size: 24px;
    line-height: 38.81px;
    color: #BDBDBD;

}
.head-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head-btn p {
    height: 39px;
    padding-left: 20px;
}

.demo p {
    width: 165px;
    height: 35px;
    color: white;
    font-weight: 400;
    font-size: 24px;
    padding: 15px 0 17px 23px;
}

.demo {
    display: flex;
    align-items: center;
    background: #FF7235;
    border-radius: 20px;
}
.demo img {
    width: 24px;
    height: 24px;
    padding-right: 20px;
}

.head-btn {
    width: 602px;
}

.sver {
    width: 100%;
    height: 730px;
    background: #FF7235;
    background-image: url("../img/Blob.png");
    background-repeat: round;
}
.qodiri {
    width: 1200px;
    margin: 0 auto;
}

.qodiri img {
    width: 1100px;
    position: relative;
    top: 111px;
}
.logo-mass {
    width: 1200px;
    margin: 0 auto;
}
.logo-face {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1098px;
    height: 219px;
}
.real-time h6 {
    font-weight: 400;
    font-size: 22px;
    line-height: 35.57px;
    color: #BDBDBD;
}
.real-time h1 {
    width: 540px;
    height: 304px;
    font-weight: 700;
    font-size: 96px;
    line-height: 96px;
}
.real-time p {
    width: 540px;
    height: 154px;
    font-weight: 400;
    font-size: 24px;
    color: #BDBDBD;
}
.real-time span {
    color: #FF7235;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.real {
    width: 90%;
    height: 62vh;
    display: flex;
    justify-content: space-between;
}
.save {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 700px;
}
.save-abb h2 {
    width: 163px;
    height: 36px;
    font-weight: 400;
    font-size: 22px;
    line-height: 35.57px;
    color: #BDBDBD;
}
.save-abb h1 {
    width: 540px;
    height: 288px;
    font-weight: 700;
    font-size: 96px;
    line-height: 96px;
}
.save-abb p {
    width: 540px;
    height: 132px;
    font-weight: 400;
    font-size: 24px;
    color: #BDBDBD;
}
.save-abb span {
    color: #FF7235;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.trs-trs {
    height: 75vh;
    background: #FFFAF8;
}
.need-cour h6 {
    font-weight: 400;
    font-size: 22px;
    line-height: 35.57px;
    color: #BDBDBD;
}
.need-cour h1 {
    width: 540px;
    font-weight: 700;
    font-size: 96px;
    line-height: 96px;
    height: 310px;
}
.need-cour p {
    width: 540px;
    height: 144px;
    color: #BDBDBD;
    font-weight: 400;
    font-size: 24px;
}
.need-cour span {
    color: #FF7235;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.wheen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
}
.product {
    height: 1000px;
}
.prod-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
}
.prod-1 h1 {
    width: 730px;
    height: 192px;
    font-weight: 700;
    font-size: 96px;
    line-height: 96px;

}
.prod-1 p {
    width: 350px;
    height: 156px;
    font-weight: 400;
    font-size: 24px;
    line-height: 38.81px;
    color: #BDBDBD;
}
.server {
    width: 91%;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.cros {
    width: 320px;
    height: 295px;
    padding-top: 69px;
    border-radius: 20px;
    line-height: 47px;
    transition: all 0.3s ease;
}
.cros:hover{
    box-shadow: 0px 0px 50px 0px #0000000A;
}
.cros h1 {
    margin-top: 30px;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    align-items: center;
    height: 50px;
} 
.cros p {
    font-weight: 400;
    font-size: 14px;
    line-height: 22.64px;
    padding-bottom: 30px;
    color: #BDBDBD;
}


.cross-img:nth-child(1){
    width: 30px;
    height: 30px;
    padding: 20px;
    background-color: pink;
    border-radius: 50%;
    margin: 0 auto;
}

.cross-img{
    margin-bottom: 44px;
}
.flexible {
    background: #FFFAF8;
    height: 900px;
}

.choose {
text-align: center;
}

.status {
    width: 62%;
    min-width: 1185px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.str {
    display: flex;
    align-items: center;
}

.choose h1{
    height: 325px;
    font-weight: 700;
    font-size: 72px;
    line-height: 333px;
    
}
.tarif {
    background: white;
    width: 368px;
    height: 395px;
}
.saqch {
    width: 303px;
    margin: 0 auto;
    line-height: 37px;
    height: 396px;
}
.saqch img {
    margin-top: 30px;
}
.str img {
    margin-top: 0px;
}
.txt img {
    margin-top: 0;
}
.txt span {
    color: #BDBDBD;
}
.txt h4 {
    font-weight: 400;
    font-size: 12px;
    color: #BDBDBD;
    height: 60px;
}
.txt h3 {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #FF7235;
    width: 101px;
    padding: 3px 24px;
    border-radius: 8px;
    cursor: pointer;
}
#btnn-1 img {
    position: relative;
    top: 5px;
}
#btn-1 img {
    position: relative;
    top: 5px;
}
#btnnn-1 img {
    position: relative;
    top: 5px;
}
#btnnn-2 h3, #btnnn-1 h3{
    display: flex;
    align-items: center;
}


.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;

}

.wrapper i {
    height: 50px;
    width: 50px;
    background: rgb(118, 233, 118);
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 1.25 rem;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);

}

.wrapper i:first-child {
    left: -87px;

}

.wrapper i:last-child {
    right: -87px;

}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.carousel::-webkit-scrollbar {
    display: none;
}


.millions h1 {
    width: 1053px;
    font-weight: 700;
    font-size: 96px;
    line-height: 96px;
    text-align: center;
}
.million {
    height: 700px;
    margin-top: 107px;
}
.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel .card {
    scroll-snap-align: start;
    height: 340px;
    list-style: none;
    background: #fff;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    width: 98%;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.card .img img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #fff;
}

.card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.card span {
    color: #6a6d78;
    font-size: 1.31rem;

}
.carousel p {
    width: 293px;
    margin:  0 auto;
}
.post-2 {
    display: flex;
    align-items: center;
    position: relative;
    left: 20px;
}
.post-2 p {
    font-weight: 700;
    font-size: 16px;
}
.post-2 p span{
    font-weight: 400;
    font-size: 14px;
}
.q {
    width: 333px;
    border-top: 12px solid #FFBE21;
    border-radius: 11px
}
.w, .y {
    width: 333px;
    border-top: 12px solid #4756DF;
    border-radius: 11px
}
.e, .t {
    width: 333px;
    border-top: 12px solid #3EC1F3;
    border-radius: 11px;
}
.r {
    width: 333px;
    border-top: 12px solid #FF7235;
    border-radius: 11px
}

.img {
    border: 1px solid #F5F5F5;
    margin: 0 auto;
    border-radius: 10px 14px 0px 0px;
}

.downloaded {
    background: #FF7235;
    height: 918px;
    display: flex;
    align-items: center;
    background-image: url("../img/Blob.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.download {
    width: 1195px;
    margin: 0 auto;

}


.down-load {
    text-align: center;
    height: 400px;
}

.down-load h1{
    font-weight: 700;
    font-size: 72px;
    line-height: 72px;
    color: white;
    height: 181px;
}

.down-load p{
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
    color: white;
    height: 78px;
}
.down-load button {
    padding: 10px 25px;
    border-radius: 15px;
    border: none;
}
.down-load button a {
    display: flex;
    align-items: center;
    color: #FF7235;
    font-weight: 400;
    font-size: 22px;

}
.down-load button a img {
    width: 24px;
    height: 24px;
}

footer {
    height: 530px;
}



.soda {
    display: flex;
    justify-content: space-between;
    line-height: 39px;
    border-bottom: 1px solid #BDBDBD33;
    margin-bottom: 44px;
}
.links p, .legal p, .newsletter p {
    font-weight: 500;
    font-size: 24px;
    line-height: 38.81px;
    color: #292830;
}
.links ul, .legal ul {
    margin-top: 40px;
    line-height: 29px;
}
.links ul li, .legal ul li{
    font-weight: 500;
    font-size: 18px;
    line-height: 42px;
    color: #292830;
}
.newsletter p {
    margin-bottom: 40px
}
.newsletter span {
    font-weight: 400;
    font-size: 20px;
    color: #BDBDBD;
}
.newsletter h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 22.64px;
    color: #BDBDBD;
}
.newsletter input {
    border: none;
    padding: 13px 35px 13px 17px;
    outline: none;
}
.newsletter button{
    border: none;
    border-radius: 10px;
}
.newsletter form {
    border: 1px solid #292830;
    border-radius: 8px;
    margin-bottom: 16px;
    margin-top: 21px;

}
.newsletter button {
    background: #FF7235;
    padding: 12px 9px 11px 20px;
    margin: 5px 4px 5px 43px;
}
.newsletter button a {
    color: white;
    margin-right: 10px;
}

.privicy, .privicy ul {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.ftr {
    margin-top: 81px;
}
.links ul {
    margin-bottom: 50px;
}
@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);

    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;

    }
}